<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) Maximus Technologies - 2023.
  ~ All Rights Reserved and Copy only allowed if given reference
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.max.main">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.max.main.MaxApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_name}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.App.Starting"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup,android:supportsRtl">
        <activity
            android:name="com.max.main.ui.splash.SplashActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.max.main.ui.main.MainActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.BaseProject" />
    </application>

</manifest>